<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techease.speed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.techease.speedracerz.views.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.techease.speedracerz.views.ReviewEventsActivity" />
        <activity android:name="com.techease.speedracerz.views.PaymentEventsActivity" />
        <activity android:name="com.techease.speedracerz.views.BookingEventsActivity" />
        <activity android:name="com.techease.speedracerz.views.MyTicketsActivity" />
        <activity android:name="com.techease.speedracerz.views.ProfileActivity" />
        <activity android:name="com.techease.speedracerz.views.AboutEventsActivity" />
        <activity android:name="com.techease.speedracerz.views.EventActivity" />
        <activity android:name="com.techease.speedracerz.views.AllDoneWelcomeActivity" />
        <activity android:name="com.techease.speedracerz.views.NotificationAccessActivity" />
        <activity android:name="com.techease.speedracerz.views.LocationAccessActivity" />
        <activity android:name="com.techease.speedracerz.views.LogInChoiceActivity" />
        <activity android:name="com.techease.speedracerz.views.RacerRegistrationActivity" />
        <activity android:name="com.techease.speedracerz.views.UserRegistrationActivity" />
        <activity android:name="com.techease.speedracerz.views.LoginActivity" />
        <activity android:name="com.techease.speedracerz.views.RegistrationActivity" />
    </application>

</manifest>