<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techease.speed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReviewActivity"></activity>
        <activity android:name=".PaymentActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".MyTicketsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AboutEventsActivity" />
        <activity android:name=".BookEventsActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".AllDoneWelcomeActivity" />
        <activity android:name=".NotificationAccessActivity" />
        <activity android:name=".LocationAccessActivity" />
        <activity android:name=".LogInChoiceActivity" />
        <activity android:name=".RacerRegistrationActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>